In [2]:
import pandas as pd
import numpy as np

In [1]:
from tensorflow.keras.models import Sequential
from tensorflow.python import keras
from tensorflow.keras.layers import Dense, Conv2D, Flatten, Dropout

C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Manuel Santana\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
num_rows, num_cols = 28, 28

In [4]:
training = pd.read_csv('train.csv')

In [5]:
training.shape

(42000, 785)

In [6]:
num_images = training.shape[0]

In [7]:
x_array = training.values[:,1:]

In [8]:
x_shaped = x_array.reshape(num_images, num_rows, num_cols, 1)

In [9]:
X_train = x_shaped / 256

In [12]:
num_classes = 10
y_train = keras.utils.to_categorical(training.label, num_classes)

In [13]:
model = Sequential() 
model.add(Conv2D(filters=20,kernel_size=(2,2), activation='relu', input_shape=(num_rows, num_cols, 1)))
model.add(Conv2D(20, kernel_size=(3, 3), activation='relu'))
model.add(Dropout(.4))
model.add(Conv2D(20, kernel_size=(3, 3), activation='relu'))
model.add(Dropout(.4))
model.add(Conv2D(20, kernel_size=(3, 3), activation='relu'))
model.add(Dropout(.4))
model.add(Conv2D(20, kernel_size=(3, 3), activation='relu'))
model.add(Dropout(.4))
model.add(Flatten())
model.add(Dense(units=128,activation='relu'))
model.add(Dense(units=10,activation='softmax'))
model.compile(loss=keras.losses.categorical_crossentropy,optimizer='adam', metrics=['accuracy'])

In [14]:
model.fit(x= X_train, y=y_train, epochs = 2, verbose=1)

Epoch 1/2
42000/42000 [==============================] - 139s 3ms/sample - loss: 0.2302 - acc: 0.9268
Epoch 2/2
42000/42000 [==============================] - 140s 3ms/sample - loss: 0.0782 - acc: 0.9763

In [15]:
testing = pd.read_csv('test.csv')

In [16]:
testing.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
num_test_images = testing.shape[0]

In [18]:
x_shaped = testing.values.reshape(num_test_images,num_rows, num_cols, 1)
X_test = x_shaped / 256

In [19]:
predictions = model.predict(X_test)

In [20]:
predictions = np.argmax(predictions, axis=1)
predictions

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [21]:
final_answer = pd.DataFrame({'ImageId': range(1,28001), 'Label': predictions})

In [22]:
final_answer.to_csv('digit_recognizer.csv',index=False)